body {
  background-color: #212121;
  color: #ffffff;
}

main {
  display: flex;
  flex-direction: row;
}

/* BASE HTML PAGE */

img {
  background-color: #4d4d4d;
}

/* Icons */
i {
  color: #46a434;
  font-size: 1.2em;
}

.ph {
  font-size: 1em;
  color: #616161;
}

/* Classes */
/* sidebar drop down menu */
.ms-1.d-none.d-sm-inline {
  font-size: 1.2em;
  color: #46a434;
}
/* side bar bullet points */
.d-none.d-sm-inline.bp {
  font-size: 1em;
  color: #616161;
}

/* USER Dropdown */
.d-none.d-sm-inline.mx-1 {
  font-size: 1.1em;
}

.d-flex.align-items-center.text-white.text-decoration-none.dropdown-toggle {
  margin-top: 2em;
  background-color: #4d4d4d;
  padding: 5px;
  border-radius: 0.5em;
}

.d-none.d-sm-inline.mx-1 {
  background-color: #4d4d4d;
}
/* USER Dropdown end */

#menu {
  margin-top: 20px;
}

/* INDEX.HTML */

.container {
  margin: 0;
  padding: 0;
}

article {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.8em;
  padding: 0.5em;
  border-radius: 0.5em;
  color: #ffffff;
  background-color: #4d4d4d;
}
p {
  margin: 0;
  /* text-align: center; */
  color: #ffffff;
  background-color: #4d4d4d;
}

.bi.bi-currency-pound {
  background-color: #4d4d4d;
  font-size: 2em;
}
.graphBox {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: normal;
}
.graphBoxPG {
  align-items: normal;
}
/* NEW TRANSACTIONS HTML */

/* INPUT FORM */

.formArticle {
  width: 100%;
}

form {
  background-color: #4d4d4d;
  padding: 20px;
  border-radius: 10px;
}

label {
  background-color: #4d4d4d;
  color: white;
  font-weight: bold;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

input[type="submit"],
button {
  background-color: #46a434;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: #327625;
}

.currency {
  background-color: #4d4d4d;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}

/* Transactions FORM PAGE */

#transCont {
  background-color: #4d4d4d;
  padding: 0;
  width: auto;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

#tranTitle {
  background-color: #838383;
  margin: 0;
  font-weight: bold;
}
#tranActions {
  background-color: #4d4d4d;
  margin-top: 0;
  margin-left: 0;
}

.container-sm {
  width: auto;
}

.col.trans {
  width: 250px;
  overflow: auto;
}

.bi.bi-pencil {
  margin-right: 0.4em;
}
