{% extends "base.html" %}
<!-- Title -->
{% block title %}Transactions{% endblock %}
<!-- Block -->
{% block content %}
<main>
  <div class="container-xl">
    <div class="container text-center">
      <div id="transCont" class="container">
        <article id="tranTitle" class="formArticle">
          <div class="row align-items-start">
            <div class="col trans">Category</div>
            <div class="col trans">Date</div>
            <div class="col trans">Amount</div>
            <div class="col trans">Actions</div>
          </div>
        </article>
        <article id="tranActions" class="formArticle">
          <div class="row align-items-start">
            <div id="catTrans" class="col trans">Income</div>
            <div id="dateTrans" class="col trans">01/08/2022</div>
            <div id="amountTrans" class="col trans">£2,356</div>
            <div id="actionsTrans" class="col trans">
              <i class="bi bi-pencil"></i>
              <i class="bi bi-trash"></i>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container-sm">
    <aside>
      <a href="/newtransaction"><button>New Transaction</button></a>
    </aside>
  </div>
</main>
{% endblock %}
